<!DOCTYPE html>
<html>
@using WordCount.Models;

<head>
    <meta charset='utf-8'>
    <title>Word Games</title>
</head>

<body>
    <ul>
        @if (Model.Count == 0)
        {
            <p>You haven't played any games yet!</p>
        }
        @if(Model.Count != 0)
        {
            @foreach (StringEval stringEval in Model)
            {
                <li>
                <p>Your word:  <a href='/games/@stringEval.GetId()'><strong>@stringEval.GetWord()</strong></a> appears <strong>@stringEval.RepeatCounter()</strong> times in the input: <em>@stringEval.GetSentence()</em> </p>
                </li>
                }
            }
        </ul>
        <a href="/games/new">Play a word count game.</a>
        <form action="/games/delete" method="post">
            <button type="submit" name="button">Clear game history</button>
        </form>
    </body>

</html>
