<!DOCTYPE html>
<html>
@using WordCount.Models;

<head>
    <meta charset='utf-8'>
    <title>Word Games</title>
</head>

<body>
    @if (Model.Count == 0)
    {
        <h1> no games played yet</h1>
    }

    @if (Model.Count != 0)
    {
        foreach (var game in Model)
        {
            <li>game.Word was found in game.Sentence game.RepeatCounter() times</li>
        }
       
    }
    <a href="/games/new">Submit a new word count.</a>
</body>

</html>
