<h1>Word Counter Game Details: </h1>

<p>Your word: <strong>@Model.GetWord()</strong> appears <strong>@Model.RepeatCounter()</strong> times in the input: <em>@Model.GetSentence()</em></p>

<a href='/games/new'>Play another game</a>
<a href='/games'>View all games</a>
